{% extends 'base.html.twig' %}

{% block title %}Voir une planète{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/detail.css') }}" rel="stylesheet"/>     
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/detail.js') }}"></script> 
{% endblock %}

{% block body %}

<div class="container my-5">
    <h1>Bienvenue sur la planète {{planete}}</h1>
    {# 
    {% if planete == 'mars'  %}
        <img src="{{ asset('image/mars.jpg')}}" alt="{{planete}} image" style="max-width: 250px;">
    {% elseif planete == 'pluton' %}
        <img src="{{ asset('image/pluton.jpg')}}" alt="{{planete}} image" style="max-width: 250px;">
    {% else %}
        <img src="{{ asset('image/saturne.jpg')}}" alt="{{planete}} image" style="max-width: 250px;">
    {% endif %}
    #}
<img src="{{ asset('image/' ~ planete ~ '.jpg')}}" alt="{{planete}} image" style="max-width: 250px;">


    <div>
        <a href="{{ path('planet') }}">
            <i class="fas fa-globe-europe"></i>
            Voir les planètes
        </a>
    </div>
</div>
{% endblock %}
